body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.driver-card {
    background: #222;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}